In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randn(5,4)
index = 'A B C D E'
columns = 'W X Y Z'

In [3]:
df = pd.DataFrame(data = data, index = index.split(), columns = columns.split())

In [4]:
df

          W         X         Y         Z
A -1.186477 -0.412393 -1.321451  1.001466
B  0.318344  0.094395 -1.104793  2.084147
C -2.138050 -1.074881 -0.083916  1.059479
D  0.661774  1.416299 -1.335273  0.050588
E  1.488856  2.163070  0.642831 -0.309203

In [5]:
df[['W', 'X']]

          W         X
A -1.186477 -0.412393
B  0.318344  0.094395
C -2.138050 -1.074881
D  0.661774  1.416299
E  1.488856  2.163070

In [6]:
df['X']

A   -0.412393
B    0.094395
C   -1.074881
D    1.416299
E    2.163070
Name: X, dtype: float64

In [7]:
df['baru'] = df['X'] + df['Y']

In [8]:
df.loc['A']

W      -1.186477
X      -0.412393
Y      -1.321451
Z       1.001466
baru   -1.733844
Name: A, dtype: float64

In [9]:
df.drop('baru', axis = 1)

          W         X         Y         Z
A -1.186477 -0.412393 -1.321451  1.001466
B  0.318344  0.094395 -1.104793  2.084147
C -2.138050 -1.074881 -0.083916  1.059479
D  0.661774  1.416299 -1.335273  0.050588
E  1.488856  2.163070  0.642831 -0.309203

In [10]:
df

          W         X         Y         Z      baru
A -1.186477 -0.412393 -1.321451  1.001466 -1.733844
B  0.318344  0.094395 -1.104793  2.084147 -1.010399
C -2.138050 -1.074881 -0.083916  1.059479 -1.158797
D  0.661774  1.416299 -1.335273  0.050588  0.081026
E  1.488856  2.163070  0.642831 -0.309203  2.805901

In [11]:
df.drop('baru', axis = 1, inplace = True)

In [12]:
df

          W         X         Y         Z
A -1.186477 -0.412393 -1.321451  1.001466
B  0.318344  0.094395 -1.104793  2.084147
C -2.138050 -1.074881 -0.083916  1.059479
D  0.661774  1.416299 -1.335273  0.050588
E  1.488856  2.163070  0.642831 -0.309203

In [13]:
df.drop('E', axis = 0, inplace = True)

In [14]:
df

          W         X         Y         Z
A -1.186477 -0.412393 -1.321451  1.001466
B  0.318344  0.094395 -1.104793  2.084147
C -2.138050 -1.074881 -0.083916  1.059479
D  0.661774  1.416299 -1.335273  0.050588

In [20]:
df.loc[0:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [19]:
df.iloc[0:2]

          W         X         Y         Z
A -1.186477 -0.412393 -1.321451  1.001466
B  0.318344  0.094395 -1.104793  2.084147

In [17]:
df.loc['C', 'Z']

1.0594794358844037

In [18]:
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A -1.186477 -1.321451
B  0.318344 -1.104793

In [51]:
df > 0

       W      X     Y      Z
A   True  False  True  False
B  False  False  True  False
C   True   True  True  False
D   True  False  True   True

In [52]:
df[df > 0]

          W         X         Y         Z
A  0.227336       NaN  0.508460       NaN
B       NaN       NaN  1.761094       NaN
C  0.107135  1.392008  1.936176       NaN
D  0.776541       NaN  1.207183  0.049335

In [54]:
df[df['W'] > 0]

          W         X         Y         Z
A  0.227336 -0.619361  0.508460 -0.741238
C  0.107135  1.392008  1.936176 -0.561060
D  0.776541 -1.809923  1.207183  0.049335

In [57]:
df[df['W'] > 0][['Y', 'Z']]

          Y         Z
A  0.508460 -0.741238
C  1.936176 -0.561060
D  1.207183  0.049335

In [67]:
df[(df['W'] > 0) & (df['X'] < 1)]

          W         X         Y         Z
A  0.227336 -0.619361  0.508460 -0.741238
D  0.776541 -1.809923  1.207183  0.049335

In [78]:
df[(df['W'] < 0) | (df['X'] > 1)]

          W         X         Y         Z
B -1.378182 -0.488766  1.761094 -0.973983
C  0.107135  1.392008  1.936176 -0.561060

In [79]:
A = True

In [80]:
B = False

In [81]:
A < B

False

In [82]:
A or B

True

In [83]:
A | B

True

In [95]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.436243 -0.022997 -0.782802  0.576677
1     B -0.324824 -1.075962 -0.255853  0.441318
2     C -0.251890 -0.904172  1.203111  0.567102
3     D -0.926789  0.623127 -0.554805 -0.442838
4     E -0.228982  0.244445  0.272397 -0.953825

In [96]:
df['kode'] = 'INA IND JPN RSA USA'.split(' ')

In [100]:
df.set_index('kode')

             W         X         Y         Z
kode
INA   0.436243 -0.022997 -0.782802  0.576677
IND  -0.324824 -1.075962 -0.255853  0.441318
JPN  -0.251890 -0.904172  1.203111  0.567102
RSA  -0.926789  0.623127 -0.554805 -0.442838
USA  -0.228982  0.244445  0.272397 -0.953825

In [102]:
df.set_index('kode', inplace = True)

In [103]:
df

             W         X         Y         Z
kode
INA   0.436243 -0.022997 -0.782802  0.576677
IND  -0.324824 -1.075962 -0.255853  0.441318
JPN  -0.251890 -0.904172  1.203111  0.567102
RSA  -0.926789  0.623127 -0.554805 -0.442838
USA  -0.228982  0.244445  0.272397 -0.953825

In [109]:
df.loc['INA']

W    0.436243
X   -0.022997
Y   -0.782802
Z    0.576677
Name: INA, dtype: float64

# Multi index

In [119]:
dataLabels = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
dataValues = [1, 2, 3, 1, 2, 3]
data = list(zip(dataLabels, dataValues))

data = pd.MultiIndex.from_tuples(data)

In [120]:
list(zip(dataLabels, dataValues))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [121]:
data

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [122]:
rand = np.random.randn(6,2)
index = 'A B C D E'
columns = ['A', 'B']

df = pd.DataFrame(data = rand, index = data, columns = columns)

In [123]:
df

             A         B
G1 1  1.729640 -1.109427
   2 -0.209342  1.352667
   3  0.117360 -0.325178
G2 1  0.902989  0.222179
   2 -0.385682 -0.578296
   3  0.943224 -3.467926

In [124]:
df.loc['G1'].loc[2]

A   -0.209342
B    1.352667
Name: 2, dtype: float64

In [128]:
df.index.names

FrozenList([None, None])

In [129]:
df.index.names = ['Group', 'No']

In [131]:
df

                 A         B
Group No
G1    1   1.729640 -1.109427
      2  -0.209342  1.352667
      3   0.117360 -0.325178
G2    1   0.902989  0.222179
      2  -0.385682 -0.578296
      3   0.943224 -3.467926

In [134]:
df.xs(['G1',2])

A   -0.209342
B    1.352667
Name: (G1, 2), dtype: float64

In [135]:
df.xs(1, level='No')

              A         B
Group
G1     1.729640 -1.109427
G2     0.902989  0.222179