In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [6]:
pd.Series(index = labels, data = my_list)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
data = pd.Series(data = [1,2,3,4], index = ['INA', 'JPN', 'USA', 'RSA'])

In [10]:
data

INA    1
JPN    2
USA    3
RSA    4
dtype: int64